@using Microsoft.AspNetCore.Mvc.Localization
@using GoNorth.Models.FlexFieldDatabaseModels

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Npc"];
}

<div id="gn-kortistoNpcContainer">
    <h2><span data-bind="visible: !isTemplateMode()">@ViewData["Title"]</span><span data-bind="visible: isTemplateMode" style="display: none">@Localizer["Template"]</span><span data-bind="visible: objectNameDisplay"> <span data-bind="text: objectNameDisplay"></span></span><span data-bind="visible: isPlayerNpc" style="display: none"> @Localizer["IsPlayerNpc"]</span></h2>

    @if(User.IsInRole(RoleNames.KortistoPlayerManager))
    {
        <!-- Mark as player dialog -->
        <div class="modal fade" role="dialog" data-bind="modal: showMarkAsPlayerDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@Localizer["AreYouSure"]</h4>
                    </div>
                    <div class="modal-body">
                        <p>@Localizer["AreYouSureYouWantToMarkTheNpcAsPlayer"]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bind="click: markAsPlayer">@Localizer["Yes"]</button>
                        <button type="button" class="btn btn-default" data-bind="click: closeMarkAsPlayerDialog">@Localizer["No"]</button>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <!-- Set Name Gen Settings Dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showNameGenSettingsDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer["NameGenSettingsTitle"]</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info" style="display: none" data-bind="visible: !nameGenDialogTemplate()">
                        @Localizer["YouWillNotBeAbleToUseNameGen"]
                    </div>

                    <form id="gn-nameGenTemplateForm">
                        <div class="form-group">
                            <label for="gn-nameGenTemplate">@Localizer["NameGenTemplate"] <i class="glyphicon glyphicon-warning-sign text-danger" style="display: none" data-bind="visible: nameGenTemplateError, attr: { title: nameGenTemplateErrorDescription }"></i></label>
                            <input type="text" class="form-control" id="gn-nameGenTemplate" placeholder="@Localizer["NameGenTemplate"]" name="nameGenTemplate" data-bind="value: nameGenDialogTemplate, valueUpdate: 'input', enterPressed: saveNameGenSettings"/>
                        </div>
                        <div class="form-group">
                            <label for="gn-nameGenSample">@Localizer["NameGenSample"] <a class="gn-clickable" data-bind="click: generateSampleNameGenName" title="@Localizer["NameGenGenerateNewSample"]"><i class="glyphicon glyphicon-retweet"></i></a></label>
                            <input type="text" class="form-control" id="gn-nameGenSample" placeholder="@Localizer["NameGenSample"]" name="nameGenSample" data-bind="value: nameGenSample" readonly aria-readonly="true"/>
                        </div>
                    </form>
                    
                    <p>@Localizer["NameGenExplanation"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="click: saveNameGenSettings, disable: nameGenTemplateError, attr: { title: nameGenTemplateError() ? '@Localizer["NameGenFixErrorInTemplateBeforeSaving"]' : '' }">@Localizer["Ok"]</button>
                    <button type="button" class="btn btn-default" data-bind="click: closeNameGenDialog">@Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormDialogsButtons.cshtml", Localizer)

    <!-- ko with: objectDialog -->
        @await Html.PartialAsync("~/Views/Shared/ChooseObjectDialog.cshtml")
    <!-- /ko -->

    <!-- Remove Item Dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showConfirmRemoveDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer["AreYouSure"]</h4>
                </div>
                <div class="modal-body">
                    <p data-bind="visible: isRemovingItem">@Localizer["AreYouSureYouWantToRemoveTheItem"]</p>
                    <p data-bind="visible: !isRemovingItem()">@Localizer["AreYouSureYouWantToRemoveTheSkill"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: removeObject">@Localizer["Yes"]</button>
                    <button type="button" class="btn btn-default" data-bind="click: closeConfirmRemoveDialog">@Localizer["No"]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Additional Buttons -->
    @if(User.IsInRole(RoleNames.Tale))
    {
        <button type="button" class="btn btn-default gn-commandWidgetTopMargin" data-bind="click: openTale, visible: id() && !isTemplateMode(), disable: isLoading()">
            @if(User.IsInRole(RoleNames.ImplementationStatusTracker))
            {
                <span data-bind="visible: dialogExists" style="display: none">
                    <i class="glyphicon glyphicon-ok text-success" data-bind="visible: dialogImplemented" title="@Localizer["DialogIsImplementedTooltip"]"></i>
                    <i class="glyphicon glyphicon-remove text-danger" data-bind="visible: !dialogImplemented()" title="@Localizer["DialogIsNotImplementedTooltip"]"></i>
                </span>
            }
            <i class="glyphicon glyphicon-comment"></i> @Localizer["Dialog"]
        </button>
    }

    <button type="button" class="btn btn-default gn-commandWidgetTopMargin" style="display: none" data-bind="click: openNameGenSettings, visible: isTemplateMode(), disable: isLoading() || isReadonly()"><i class="glyphicon glyphicon-cog"></i> @Localizer["NameGenSettings"]</button>
    <button type="button" class="btn btn-default gn-commandWidgetTopMargin" data-bind="click: generateName, visible: !isTemplateMode(), disable: isLoading() || isReadonly() || !nameGenTemplate(), attr: { title: !nameGenTemplate() ? '@Localizer["NoNameGenTemplateTooltip"]' : '' }"><i class="glyphicon glyphicon-transfer"></i> @Localizer["GenerateName"]</button>

    @if(User.IsInRole(RoleNames.KortistoPlayerManager))
    {
        <button type="button" class="btn btn-default gn-commandWidgetTopMargin" data-bind="click: openMarkAsPlayerDialog, visible: id() && !isPlayerNpc() && !isTemplateMode(), disable: isLoading() || isReadonly()"><i class="glyphicon glyphicon-star"></i> @Localizer["MarkAsPlayer"]</button>
    }

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormContent.cshtml", new ObjectFormViewModel { Localizer = Localizer, ApiControllerName = "KortistoApi", ObjectIcon = "glyphicon-user" } )

    @if(User.IsInRole(RoleNames.Styr))
    {
        <!-- Inventory -->
        <h4>@Localizer["Inventory"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoadingInventory"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingInventoryError"></i></h4>
        <button type="button" class="btn btn-primary gn-commandWidgetTopMargin" data-bind="click: addItemToInventory, disable: isLoading() || isReadonly()"><i class="glyphicon glyphicon-plus"></i> @Localizer["AddItemToInventory"]</button>
        <table class="table table-striped table-bordered gn-chooseObjectDialogTable">
            <thead>
                <tr>
                    <th class="gn-kortistoInventoryItemNameColumn">@Localizer["Name"]</th>
                    <th>@Localizer["Quantity"]</th>
                    <th>@Localizer["Equipped"]</th>
                    <th class="gn-kortistoObjectTableActionColumn"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: inventoryItems">
                <tr>
                    <td class="gn-kortistoInventoryItemNameColumn"><a class="gn-clickable" data-bind="text: name, href: $root.buildItemUrl" target="_blank"></a></td>
                    <td><input type="text" data-bind="numeric: quantity, disable: $root.isReadonly" class="form-control"></td>
                    <td><label class="checkbox-inline"><input type="checkbox" data-bind="checked: isEquipped, disable: $root.isReadonly"></label></td>
                    <td class="gn-kortistoObjectTableActionColumn"><a class="gn-clickable" title="@Localizer["RemoveItemFromInventory"]" data-bind="click: function(item) { $root.openRemoveItemDialog(item); }, visible: !$root.isReadonly()"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    }

    @if(User.IsInRole(RoleNames.Evne))
    {
        <!-- Skills -->
        <h4>@Localizer["Skills"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoadingSkills"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingSkillsError"></i></h4>
        <button type="button" class="btn btn-primary gn-commandWidgetTopMargin" data-bind="click: addSkill, disable: isLoading() || isReadonly()"><i class="glyphicon glyphicon-plus"></i> @Localizer["AddSkill"]</button>
        <table class="table table-striped table-bordered gn-chooseObjectDialogTable">
            <thead>
                <tr>
                    <th class="gn-kortistoSkillNameColumn">@Localizer["Name"]</th>
                    <th class="gn-kortistoObjectTableActionColumn"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: learnedSkills">
                <tr>
                    <td class="gn-kortistoSkillNameColumn"><a class="gn-clickable" data-bind="text: name, href: $root.buildSkillUrl" target="_blank"></a></td>
                    <td class="gn-kortistoObjectTableActionColumn"><a class="gn-clickable" title="@Localizer["RemoveSkill"]" data-bind="click: function(skill) { $root.openRemoveSkillDialog(skill); }, visible: !$root.isReadonly()"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    }

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormTagInput.cshtml", Localizer)

    <!-- Related objects -->
    <!-- ko if: !isTemplateMode() -->
    <hr>
    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormRelatedObjects.cshtml", new ObjectFormRelatedObjectsViewModel { Localizer = Localizer, HideKarta = false } )
    <!-- /ko -->
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormBaseScripts.cshtml", Localizer)

    <environment include="Development">
        <script src="~/lib/namegen/namegen.js"></script>
        
        <script src="~/js/Kortisto/npc.viewmodel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/namegen/namegen.min.js"></script>

        <script src="~/js/Kortisto/npc.viewmodel.min.js" asp-append-version="true"></script>
    </environment>
    
    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormScriptRights.cshtml", Localizer)

    <script type="text/javascript">
        GoNorth.Kortisto.Npc.Localization = {
            AddItemToInventory: "@Localizer["AddItemToInventory"]",
            AddSkill: "@Localizer["AddSkill"]",

            NameGenMissingClosingBracket: "@Localizer["NameGenMissingClosingBracket"]",
            NameGenUnbalancedBrackets: "@Localizer["NameGenUnbalancedBrackets"]",
            NameGenUnexpectedPointyBracketInInput: "@Localizer["NameGenUnexpectedPointyBracketInInput"]",
            NameGenUnexpectedRoundBracketInInput: "@Localizer["NameGenUnexpectedRoundBracketInInput"]",
            NameGenUnknownError: "@Localizer["NameGenUnknownError"]"
        };

        @if(User.IsInRole(RoleNames.Styr))
        {
            <text>
            GoNorth.Kortisto.Npc.hasStyrRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kortisto.Npc.hasStyrRights = false;
            </text>
        }

        @if(User.IsInRole(RoleNames.Evne))
        {
            <text>
            GoNorth.Kortisto.Npc.hasEvneRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kortisto.Npc.hasEvneRights = false;
            </text>
        }

        jQuery(document).ready(function() {
            ko.applyBindings(new GoNorth.Kortisto.Npc.ViewModel(), jQuery("#gn-kortistoNpcContainer")[0]);
        });
    </script>
}

@section Styles {
    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormStyles.cshtml")
}