@using GoNorth.Data.User
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http.Features

@inject IViewLocalizer Localizer
@inject GoNorth.Config.IConfigViewAccess AppSettings
@inject SignInManager<GoNorthUser> SignInManager

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ITrackingConsentFeature consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    bool showingGdprBanner = !consentFeature?.CanTrack ?? false;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoNorth</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", required: false)
</head>
<body>
    <input type="hidden" id="__RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar" id="gn-navbarCollapseExpand">
                    <span class="sr-only">@Localizer["ToogleNavigation"]</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" title="@Localizer["Home"]">GoNorth</a>
            </div>
            <div class="navbar-collapse collapse" id="mainNavBar">
                @if (SignInManager.IsSignedIn(User))
                {
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Timeline" asp-action="Index">@Localizer["Timeline"]</a></li>
                    @if(User.IsInRole(RoleNames.Task))
                    {
                        <li><a asp-area="" asp-controller="Task" asp-action="Index">@Localizer["Tasks"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.Aika))
                    {
                        <li><a asp-area="" asp-controller="Aika" asp-action="Index">@Localizer["Aika"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.Kortisto))
                    {
                        <li><a asp-area="" asp-controller="Kortisto" asp-action="Index">@Localizer["Kortisto"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.Styr))
                    {
                        <li><a asp-area="" asp-controller="Styr" asp-action="Index">@Localizer["Styr"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.Evne))
                    {
                        <li><a asp-area="" asp-controller="Evne" asp-action="Index">@Localizer["Evne"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.Kirja))
                    {
                        <li><a asp-area="" asp-controller="Kirja" asp-action="Index">@Localizer["Kirja"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.Karta))
                    {
                        <li><a asp-area="" asp-controller="Karta" asp-action="Index">@Localizer["Karta"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.ImplementationStatusTracker))
                    {
                        <li><a asp-area="" asp-controller="ImplementationStatus" asp-action="Index">@Localizer["ImplementationStatus"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.ManageExportTemplates))
                    {
                        <li><a asp-area="" asp-controller="Export" asp-action="Index">@Localizer["ExportSettings"]</a></li>
                    }
                    @if(User.IsInRole(RoleNames.ProjectConfigManager))
                    {
                        <li><a asp-area="" asp-controller="ProjectConfig" asp-action="Index">@Localizer["ProjectConfig"]</a></li>
                    }
                </ul>
                }
                @await Html.PartialAsync("_LoginPartial")
            </div>
            @await Html.PartialAsync("_CookieConsentPartial")
        </div>
    </nav>

    <div class="container body-content gn-mainContainer @(showingGdprBanner ? "gn-mainContainerSmall" : "")">
        @RenderBody()
    </div>
    <hr />
    <footer>
        @if(AppSettings.IsUsingGdpr())
        {
            <small><a asp-area="" asp-controller="Privacy" asp-action="Index" class="text-muted">@Localizer["PrivacyPolicy"]</a></small>
        }

        @if(AppSettings.IsUsingGdpr() && AppSettings.IsUsingLegalNotice())
        {
            <span class="text-muted">|</span>
        }

        @if(AppSettings.IsUsingLegalNotice())
        {
            <small><a asp-area="" asp-controller="LegalNotice" asp-action="Index" class="text-muted">@Localizer["LegalNotice"]</a></small>
        }
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/js/Shared/shared.lib.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.5.0.js"
                asp-fallback-src="~/lib/knockout/dist/knockout.js"
                asp-fallback-test="window.ko && ko.version"
                crossorigin="anonymous"
                integrity="sha384-cd17CJ+/vjGWK4Gipm1JaKFFdNvWJhaJZ80qgEJvqqMbZAitKqV22KYncJZxvrmW">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
                asp-fallback-src="~/lib/moment/min/moment.min.js"
                asp-fallback-test="window.ko && ko.version"
                crossorigin="anonymous"
                integrity="sha384-fYxN7HsDOBRo1wT/NSZ0LkoNlcXvpDpFy6WzB42LxuKAX7sBwgo7vuins+E1HCaw">
        </script>
        <script src="~/js/Shared/shared.lib.min.js"></script>
    </environment>

    <script type="text/javascript">
        moment.locale("@Localizer["MomentLocale"]");
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
