@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["ChapterOverview"];
}

<div id="gn-aikaChapterOverviewContainer">
    <h2>@ViewData["Title"]</h2>

    <!-- Node Dialog -->
    @await Html.PartialAsync("~/Views/Shared/NodeGraphDialogs.cshtml")

    <!-- Command Buttons -->
    <button type="button" class="btn btn-primary gn-commandWidgetTopMargin" data-bind="click: save, disable: isLoading() || isReadonly()">
        <i class="glyphicon glyphicon-floppy-disk" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["Save"]
    </button>

    <button type="button" class="btn btn-default gn-commandWidgetTopMargin" data-bind="click: openQuestList">
        <i class="glyphicon glyphicon-king"></i> @Localizer["OpenQuestList"]
    </button>

    <div class="alert alert-danger gn-defaultContentTopMargin" style="display: none" data-bind="visible: errorOccured">
        <strong>@Localizer["Error"]</strong> @Localizer["ErrorOccured"] <span data-bind="text: additionalErrorDetails, visible: additionalErrorDetails"></span>
    </div>

    <div class="alert alert-info gn-defaultContentTopMargin" style="display: none" data-bind="visible: lockedByUser">
        <strong>@Localizer["Locked"]</strong> @Localizer["LockedPrefix"]<span data-bind="text: lockedByUser"></span>@Localizer["LockedPostfix"]
    </div>

    <div class="row gn-defaultContentTopMargin">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-bind="if: !isReadonly()">
            <div data-bind="draggable: 'clone'" class="gn-nodeInsertContainer gn-nodeChapter" data-nodetype="aika.Chapter">
                <div class="gn-nodeInsert">
                    <div class="gn-labelInsert">@Localizer["ChapterNode"]</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="gn-nodeGraphContainer">
                <div data-bind="nodeGraph: nodeGraph, nodePaper: nodePaper, droppable: addNewNode, droppableAccept: '.gn-nodeInsertContainer'"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous" asp-fallback-test="jQuery.ui" asp-fallback-src="~/lib/jquery-ui/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" integrity="sha384-0BrUT26SU4JPtbvE/hI6oj4mbEXE32qhRoD51rUTB+QFrg6ViIceJR8op6FmEIA1" crossorigin="anonymous" asp-fallback-test="typeof _ != 'undefined'" asp-fallback-src="~/lib/jointjs/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js" integrity="sha384-NNt9ocJfZhIg2c5PbM5G2a3tTaeXhEfqCHWHNB7htzaWKn8MwFkzVyGdzLA8QMX7" crossorigin="anonymous" asp-fallback-test="Backbone" asp-fallback-src="~/lib/jointjs/backbone-min.js"></script>
    <script src="~/lib/jointjs/joint.js"></script>
    <script src="~/lib/jointjs/joint.shapes.dev.js"></script>

    <environment include="Development">
        <script src="~/js/Shared/nodeGraph/nodeLang.@(Localizer["NodeLang"]).js"></script>
        <script src="~/js/Aika/aikaLang.@(Localizer["NodeLang"]).js"></script>

        <script src="~/js/Shared/nodeGraph/nodeGraph.knockout.binding.js"></script>
        <script src="~/js/Aika/chapterOverview.viewmodel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Shared/nodeGraph/nodeLang.@(Localizer["NodeLang"]).min.js"></script>
        <script src="~/js/Aika/aikaLang.@(Localizer["NodeLang"]).min.js"></script>

        <script src="~/js/Shared/nodeGraph/nodeGraph.knockout.binding.min.js"></script>
        <script src="~/js/Aika/chapterOverview.viewmodel.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            ko.applyBindings(new GoNorth.Aika.ChapterOverview.ViewModel(), jQuery("#gn-aikaChapterOverviewContainer")[0]);
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/jointjs/joint.css" />
    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/defaultNodes.css" />
    </environment>
    <environment exclude="Development">   
        <link rel="stylesheet" href="~/css/defaultNodes.min.css" />
    </environment>
}