@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["TaleConfig"];
}

<div id="gn-taleConfigContainer">
    <h2>@ViewData["Title"]</h2>

    <div class="alert alert-danger gn-defaultContentTopMargin" style="display: none" data-bind="visible: errorOccured">
        <strong>@Localizer["Error"]</strong> @Localizer["ErrorOccured"]
    </div>

    <div class="alert alert-info gn-defaultContentTopMargin" style="display: none" data-bind="visible: lockedByUser">
        <strong>@Localizer["Locked"]</strong> @Localizer["LockedPrefix"]<span data-bind="text: lockedByUser"></span>@Localizer["LockedPostfix"]
    </div>

    <div data-bind="template: { name: 'gn-taleConfigTextareaSection', data: animationConfigSection }"></div>
    <div data-bind="template: { name: 'gn-taleConfigTextareaSection', data: stateConfigSection }"></div>
</div>

<!-- Textarea section -->
<script type="text/html" id="gn-taleConfigTextareaSection">
    <h3 class="gn-clickable" data-bind="click: toggleVisibility">
        <i class="glyphicon glyphicon-triangle-right" data-bind="visible: !isExpanded()"></i>
        <i class="glyphicon glyphicon-triangle-bottom" data-bind="visible: isExpanded"></i>
        <span data-bind="text: title"></span>
        <i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorOccured"></i>
    </h3>

    <div data-bind="visible: isExpanded" style="display: none">
        <div data-bind="text: description"></div>

        <button type="button" class="btn btn-primary gn-defaultContentTopMargin" data-bind="click: saveConfig, disable: $root.isReadonly">
            <i class="glyphicon glyphicon-floppy-disk" data-bind="visible: !isLoading()"></i>
            <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i>
            @Localizer["Save"]
        </button>

        <textarea type="text" class="form-control gn-nonResizeable gn-taleConfigTextArea" data-bind="value: configData, disable: $root.isReadonly"></textarea>
    </div>
</script>

@section Scripts {
    <environment include="Development">
        <script src="~/js/Tale/config.viewmodel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Tale/config.viewmodel.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">
        GoNorth.Tale.Config.Localization = {
            "AnimationConfigSectionHeader": "@Localizer["AnimationConfigSectionHeader"]",
            "AnimationConfigSectionDescription": "@Localizer["AnimationConfigSectionDescription"]",

            "StateConfigSectionHeader": "@Localizer["StateConfigSectionHeader"]",
            "StateConfigSectionDescription": "@Localizer["StateConfigSectionDescription"]"
        };

        jQuery(document).ready(function() {
            ko.applyBindings(new GoNorth.Tale.Config.ViewModel(), jQuery("#gn-taleConfigContainer")[0]);
        });
    </script>
}