@using Microsoft.AspNetCore.Mvc.Localization
@using GoNorth.Models.FlexFieldDatabaseModels
@using GoNorth.Data.Exporting

@model DetailFormViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Item"];
}

<div id="gn-styrItemContainer">
    <h2><span data-bind="visible: !isTemplateMode()">@ViewData["Title"]</span><span data-bind="visible: isTemplateMode" style="display: none">@Localizer["Template"]</span><span data-bind="visible: objectNameDisplay"> <span data-bind="text: objectNameDisplay"></span></span></h2>

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormDialogsButtons.cshtml", new ObjectFormButtonsViewModel { Localizer = Localizer, ExportTemplateType = TemplateType.ObjectItem })

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormContent.cshtml", new ObjectFormViewModel { Localizer = Localizer, ApiControllerName = "StyrApi", ObjectIcon = "glyphicon-apple" } )

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormTagInput.cshtml", Localizer)

    <!-- Related objects -->
    <!-- ko if: !isTemplateMode() -->
    <hr>
    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormRelatedObjects.cshtml", new ObjectFormRelatedObjectsViewModel { Localizer = Localizer, HideKarta = false })

    @if(User.IsInRole(RoleNames.Kortisto))
    {
        <h4>@Localizer["ReferencedInNpcInventories"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingContainedInNpcInventory"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingContainedInNpcInventory"></i></h4>
        <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: containedInNpcInventory">
            <li>
                <a class="gn-clickable" data-bind="text: name, href: $root.buildNpcInventoryUrl" target="_blank"></a>
            </li>
        </ul>
    }
    <!-- /ko -->
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormBaseScripts.cshtml", Localizer)

    @await Html.PartialAsync("~/Views/Shared/NodeScriptEditorScripts.cshtml")

    <environment include="Development">
        <script src="~/lib/ace-builds/src-noconflict/ace.js"></script>
        <script src="~/lib/ace-builds/src-noconflict/ext-language_tools.js"></script>
        
        <script src="~/js/Styr/styrLang.@(Localizer["NodeLang"]).js"></script>

        <script src="~/js/Styr/item.viewmodel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/ace-builds/src-min-noconflict/ace.js"></script>
        <script src="~/lib/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
        
        <script src="~/js/Styr/styrLang.@(Localizer["NodeLang"]).min.js"></script>

        <script src="~/js/Styr/item.viewmodel.min.js" asp-append-version="true"></script>
    </environment>

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormScriptRights.cshtml", Localizer)

    @await Html.PartialAsync("~/Views/FlexFieldDatabase/FlexFieldScriptLocalization.cshtml")

    <script type="text/javascript">
        @if(User.IsInRole(RoleNames.Kortisto))
        {
            <text>
            GoNorth.FlexFieldDatabase.ObjectForm.hasKortistoRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.FlexFieldDatabase.ObjectForm.hasKortistoRights = false;
            </text>
        }
        
        @if(Model.DisableAutoSaving)
        {
            <text>
            GoNorth.FlexFieldDatabase.ObjectForm.disableAutoSaving = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.FlexFieldDatabase.ObjectForm.disableAutoSaving = false;
            </text>
        }
        
        @if(Model.AllowScriptSettingsForAllFieldTypes)
        {
            <text>
            GoNorth.FlexFieldDatabase.ObjectForm.allowScriptSettingsForAllFieldTypes = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.FlexFieldDatabase.ObjectForm.allowScriptSettingsForAllFieldTypes = false;
            </text>
        }

        GoNorth.FlexFieldDatabase.ObjectForm.dirtyMessage = "@Localizer["DirtyMessage"]";

        jQuery(document).ready(function() {
            ko.applyBindings(new GoNorth.Styr.Item.ViewModel(), jQuery("#gn-styrItemContainer")[0]);
        });
    </script>
}

@section Styles {
    @await Html.PartialAsync("~/Views/FlexFieldDatabase/ObjectFormStyles.cshtml")
    @await Html.PartialAsync("~/Views/Shared/NodeScriptEditorStyles.cshtml")
}