@using Microsoft.AspNetCore.Mvc.Localization
@using GoNorth.Models.KirjaViewModels

@inject IViewLocalizer Localizer

@model KirjaPageViewModel

@{
    ViewData["Title"] = @Localizer["Kirja"];
}

<div id="gn-kirjaPageContainer">
    <!-- Version Dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showVersionDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer["Versions"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingVersions"></i></h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" style="display: none" data-bind="visible: versionDialogErrorOccured">
                        <strong>@Localizer["Error"]</strong> @Localizer["ErrorOccured"]
                    </div>

                    <div class="gn-kirjaVersionDialogVersionList">
                        <table class="table table-striped table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th>@Localizer["VersionNumber"]</th>
                                    <th>@Localizer["ModifiedDate"]</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: versions -->
                                <tr>
                                    <td><span data-bind="text: versionNumber, visible: versionNumber != $root.versionDialogMostRecentVersion()"></span><span data-bind="visible: versionNumber == $root.versionDialogMostRecentVersion()">@Localizer["RecentVersion"]</span></td>
                                    <td data-bind="formattedDateTimeText: modifiedOn"></td>
                                    <td>
                                        <a class="gn-clickable" title="@Localizer["ClickHereToCompareWithCurrentLoadedVersion"]" data-bind="click: function(version) { $root.compareWithVersionObject(version); }, visible: $root.displayVersionId() != id && !(versionNumber == $root.versionDialogMostRecentVersion() && !$root.displayVersionId())"><i class="glyphicon glyphicon-transfer"></i></a>
                                        <a class="gn-clickable" title="@Localizer["ClickHereToShowThisVersion"]" data-bind="click: function(version) { $root.showVersionWithObject(version); }"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="gn-dialogPagingContainer">
                        <button class="btn btn-default" data-bind="enable: currentVersionPage() > 0 && !loadingVersions(), click: prevVersionPage" title="@Localizer["PreviousPage"]">
                            <i class="glyphicon glyphicon-chevron-left" data-bind="visible: !loadingVersions()"></i>
                            <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingVersions"></i>
                        </button>
                        <button class="btn btn-default" data-bind="enable: hasMoreVersions() && !loadingVersions(), click: nextVersionPage" title="@Localizer["NextPage"]">
                            <i class="glyphicon glyphicon-chevron-right" data-bind="visible: !loadingVersions()"></i>
                            <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingVersions"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-default" data-bind="click: closeVersionDialog">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Page Dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showConfirmDeleteDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer["AreYouSure"]</h4>
                </div>
                <div class="modal-body">
                    <p>@Localizer["AreYouSureYouWantToDeleteThePage"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: deletePage">@Localizer["Yes"]</button>
                    <button type="button" class="btn btn-default" data-bind="click: closeConfirmDeleteDialog">@Localizer["No"]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Dirty exit edit mode Dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showConfirmDirtyExitEdit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer["AreYouSure"]</h4>
                </div>
                <div class="modal-body">
                    <p>@Localizer["AreYouSureYouWantToExitEditMode"]</p>
                    <p><strong>@Localizer["UnsavedChangesWillBeLost"]</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: discardChanges">@Localizer["Yes"]</button>
                    <button type="button" class="btn btn-default" data-bind="click: closeConfirmDirtyExitEdit">@Localizer["No"]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Attachment Dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showConfirmDeleteAttachmentDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer["AreYouSure"]</h4>
                </div>
                <div class="modal-body">
                    <p>@Localizer["AreYouSureYouWantToDeleteTheAttachment"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: deleteAttachment">@Localizer["Yes"]</button>
                    <button type="button" class="btn btn-default" data-bind="click: closeConfirmAttachmentDeleteDialog">@Localizer["No"]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Restore Dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showConfirmRestoreDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Localizer["AreYouSure"]</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" style="display: none" data-bind="visible: confirmRestoreDialogErrorOccured">
                        <strong>@Localizer["Error"]</strong> @Localizer["ErrorOccured"]
                    </div>

                    <p>@Localizer["AreYouSureYouWantToRestoreThisVersion"]</p>
                    <hr/>
                    <div data-bind="visible: confirmRestoreBrokenLinks().length > 0">
                        @Localizer["TheFollowingLinksAreBroken"]
                        <ul data-bind="foreach: confirmRestoreBrokenLinks" class="gn-kirjaPageBrokenLinkList">
                            <li>
                                <span data-bind="text: linkText"></span> (<span data-bind="text: objectLabel"></span>)
                            </li>
                        </ul>
                        <strong>@Localizer["TheLinksWillBeDeleted"]</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bind="click: restoreVersion, enable: !confirmRestoreDialogLoading() && !confirmRestoreDialogErrorOccured()">
                        <span data-bind="visible: !confirmRestoreDialogLoading()">@Localizer["Yes"]</i>
                        <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: confirmRestoreDialogLoading"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: closeConfirmRestoreDialog">@Localizer["No"]</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Link Dialog -->
    <!-- ko with: linkDialog -->
        @await Html.PartialAsync("~/Views/Shared/ChooseObjectDialog.cshtml")
    <!-- /ko -->

    <!-- Wait on new page dialog -->
    <div class="modal fade" role="dialog" data-bind="modal: showNewWaitPageDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["WaitingOnNewPage"]</h4>
                </div>
                <div class="modal-body">
                    <p>@Localizer["DialogWillCloseOnSaveOfNewPage"]</span></p>
                </div>
            </div>
        </div>
    </div>


    <form id="gn-kirjaHeaderFields">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 gn-kirjaNameCol">
                    <div data-bind="visible: !isEditMode()">
                        <h2 data-bind="text: currentPageName"></h2>
                    </div>
                    <div data-bind="visible: isEditMode" style="display: none">
                        <div class="form-group">
                            <input type="text" class="form-control gn-kirjaPageNameInput" placeholder="@Localizer["Name"]" name="folderDisplayName" data-bind="value: pageName" id="gn-kirjaPageName" required tabindex="1"/>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 gn-kirjaButtonCol">
                    <!-- Command Buttons -->
                    <button type="button" class="btn btn-primary" data-bind="click: enterEditMode, disable: isLoading() || isReadonly(), visible: !isEditMode()" tabindex="3">
                        <i class="glyphicon glyphicon-pencil" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["EditPage"]
                    </button>
                    <div data-bind="visible: isEditMode" style="display: none" class="gn-kirjaButtonContainer">
                        <button type="button" class="btn btn-primary" data-bind="click: save, disable: isLoading() || isReadonly()" tabindex="3">
                            <i class="glyphicon glyphicon-floppy-disk" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["SavePage"]
                        </button>
                        <button type="button" class="btn btn-default" data-bind="click: openConfirmDeleteDialog, disable: isLoading() || isReadonly() || isDefault(), visible: id, attr: { title: isDefault() ? '@Localizer["CanNotDeleteRootPage"]' : '' }" tabindex="4">
                            <i class="glyphicon glyphicon-trash" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["DeletePage"]
                        </button>
                        <button type="button" class="btn btn-default" data-bind="click: exitEditMode, disable: isLoading() || isReadonly()" tabindex="5">
                            <i class="glyphicon glyphicon-remove" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["StopEditPage"]
                        </button>
                    </div> 
                    <div class="gn-kirjaSidebarContainer">
                        <a class="gn-clickable gn-kirjaSidebarButton" data-bind="click: toogleSidebar" title="@Localizer["ToogleSidebar"]"><i class="glyphicon glyphicon-chevron-down"></i></a>

                        <div class="panel panel-default gn-kirjaSidebar" style="display: none" data-bind="slide: showSidebar">
                            <div class="panel-body">
                                <h4>@Localizer["Connections"]</h4>

                                <div class="gn-kirjaSidebarContent">
                                    <div>@Localizer["MentionedInPages"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMentionedInPages"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingMentionedInPagesError"></i></div>
                                    <ul data-bind="foreach: mentionedInPages" class="gn-kirjaSidebarList">
                                        <li>
                                            <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                            <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                        </li>
                                    </ul>

                                    @if(User.IsInRole(RoleNames.Aika))
                                    {
                                        <div>@Localizer["Quests"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMentionedQuests() || loadingReferencedInQuests()"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingMentionedQuestsError() || loadingReferencedInQuestsError()"></i></div>
                                        <ul class="gn-kirjaSidebarList">
                                            <!-- ko foreach: mentionedQuests -->
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["OnPage"]</span>
                                            </li>
                                            <!-- /ko -->
                                            <!-- ko foreach: referencedInQuests -->
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                            </li>
                                            <!-- /ko -->
                                        </ul>
                                    }

                                    @if(User.IsInRole(RoleNames.Kortisto))
                                    {
                                        <div>@Localizer["Npcs"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMentionedNpcs() || loadingReferencedInDailyRoutines()"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingMentionedNpcsError() || loadingReferencedInDailyRoutinesError()"></i></div>
                                        <ul class="gn-kirjaSidebarList">
                                            <!-- ko foreach: mentionedNpcs -->
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["OnPage"]</span>
                                            </li>
                                            <!-- /ko -->
                                            <!-- ko foreach: referencedInDailyRoutines -->
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                            </li>
                                            <!-- /ko -->
                                            <!-- ko foreach: referencedInStateMachines -->
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                            </li>
                                            <!-- /ko -->
                                        </ul>
                                    }

                                    @if(User.IsInRole(RoleNames.Kortisto) && User.IsInRole(RoleNames.Tale))
                                    {
                                        <div data-bind="visible: referencedInDialogs().length > 0 || loadingReferencedInDialogsError()">@Localizer["Dialogs"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingReferencedInDialogs"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingReferencedInDialogsError"></i></div>
                                        <ul data-bind="foreach: referencedInDialogs, visible: referencedInDialogs().length > 0 || loadingReferencedInDialogsError()" class="gn-kirjaSidebarList">
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                            </li>
                                        </ul>
                                    }

                                    @if(User.IsInRole(RoleNames.Styr))
                                    {
                                        <div>@Localizer["Items"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMentionedItems"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingMentionedItemsError"></i></div>
                                        <ul data-bind="foreach: mentionedItems" class="gn-kirjaSidebarList">
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["OnPage"]</span>
                                            </li>
                                        </ul>
                                    }

                                    @if(User.IsInRole(RoleNames.Evne))
                                    {
                                        <div>@Localizer["Skills"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMentionedSkills() || loadingReferencedSkills()"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingMentionedSkillsError() || loadingReferencedSkillsError()"></i></div>
                                        <ul class="gn-kirjaSidebarList">
                                            <!-- ko foreach: mentionedSkills -->
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["OnPage"]</span>
                                            </li>
                                            <!-- /ko -->
                                            <!-- ko foreach: referencedInSkills -->
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                            </li>
                                            <!-- /ko -->
                                        </ul>
                                    }

                                    @if(User.IsInRole(RoleNames.Karta))
                                    {
                                        <div>@Localizer["Maps"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMarkedInMaps"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingMarkedInMapsError"></i></div>
                                        <ul data-bind="foreach: markedInMaps" class="gn-kirjaSidebarList">
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank">
                                                    <span data-bind="visible: markerCount > 1, attr: { title: tooltip }" style="display: none"> (<span data-bind="text: markerCount"></span>)</span>
                                                </a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                            </li>
                                        </ul>
                                    }

                                    @if(User.IsInRole(RoleNames.ExportObjects))
                                    {
                                        <div data-bind="visible: referencedInExportSnippets().length > 0 || loadingReferencedInExportSnippetsError()">@Localizer["ExportSnippets"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingReferencedInExportSnippets"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Localizer["ErrorOccured"]" style="display: none" data-bind="visible: loadingReferencedInExportSnippetsError"></i></div>
                                        <ul data-bind="foreach: referencedInExportSnippets, visible: referencedInExportSnippets().length > 0 || loadingReferencedInExportSnippetsError()" class="gn-kirjaSidebarList">
                                            <li>
                                                <a class="gn-kirjaSidebarListLink" data-bind="attr: { href: openLink, title: name }, text: name" target="_blank"></a>
                                                <span class="gn-kirjaSidebarReferenceType">@Localizer["ReferencedIn"]</span>
                                            </li>
                                        </ul>
                                    }

                                    <div>@Localizer["Attachments"]</div>
                                    <!-- ko if: !id() -->
                                    <div class="gn-kirjaAttachmentText">@Localizer["SaveThePageToUploadFiles"]</div>
                                    <!-- /ko -->
                                    <!-- ko if: id -->
                                        <ul data-bind="foreach: attachmentFiles" class="gn-kirjaSidebarList">
                                            <li>
                                                <div class="gn-kirjaAttachmentFilename"><a class="gn-clickable" data-bind="text: originalFilename, attr: { title: originalFilename }, href: function(attachment) { return $root.buildAttachmentUrl(attachment); }" target="_blank"></a></div>
                                                <a class="gn-clickable" title="@Localizer["DeleteAttachmentToolTip"]" data-bind="click: function(attachment) { $root.openDeleteAttachmentDialog(attachment); }, visible: !$root.isReadonly()"><i class="glyphicon glyphicon-trash"></i></a>
                                            </li>
                                        </ul>

                                        <div class="gn-clickable gn-kirjaAttachmentDropzone" data-bind="dropzone: attachmentUploadUrl, dropzoneAcceptedFiles: '@Model.AllowedAttachmentMimeTypes', dropzoneMaxFiles: 1, dropzoneHoverClass: 'gn-dropzoneFileHover', dropzoneDisable: isReadonly, dropzoneSuccess: function(attachmentFile) { $root.attachmentUploaded(attachmentFile); }, dropzoneError: function(errorMessage, xhr) { $root.uploadError(errorMessage, xhr); }, dropzoneAddedFile: function() { $root.resetErrorState(); }">
                                            @Localizer["DropFilesHereToUpload"]
                                        </div>
                                    <!-- /ko -->
                                </div>

                                <div class="gn-kirjaSidebarOpenOverview">
                                    @if(Model.IsUsingVersioning)
                                    {
                                        <a class="gn-clickable" data-bind="click: openVersionDialog, visible: id">@Localizer["ShowVersionsOfPage"]</a><br/>
                                    }
                                    <a href="/Kirja/Pages">@Localizer["OpenPageOverview"]</a>

                                    <div class="gn-kirjaSidebarWordCount">@Localizer["WordCountPrefix"] <span data-bind="text: pageWordCount"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="alert alert-danger gn-defaultContentTopMargin" style="display: none" data-bind="visible: errorOccured">
        <strong>@Localizer["Error"]</strong> <span data-bind="visible: !pageNotFound()">@Localizer["ErrorOccured"]</span> <span data-bind="text: additionalErrorDetails, visible: additionalErrorDetails"></span><span data-bind="visible: pageNotFound">@Localizer["PageNotFound"]</span> 
    </div>

    <div class="alert alert-info gn-defaultContentTopMargin" style="display: none" data-bind="visible: lockedByUser">
        <strong>@Localizer["Locked"]</strong> @Localizer["LockedPrefix"]<span data-bind="text: lockedByUser"></span>@Localizer["LockedPostfix"]
    </div>

    <div class="alert alert-info gn-defaultContentTopMargin" style="display: none" data-bind="visible: displayVersionId">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 gn-kirjaAlertTextCol">
                <strong>@Localizer["DisplayingVersionNumber"]<span data-bind="text: displayVersionNumber"></span></strong>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 gn-kirjaAlertButtonCol">
                <button type="button" class="btn btn-default" data-bind="click: openRestoreDialog, disable: isLoading() || isReadonly()">
                    <i class="glyphicon glyphicon-open-file" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["RestoreThisVersion"]
                </button>
                <button type="button" class="btn btn-primary" data-bind="click: exitDisplayAndCompareMode, disable: isLoading() || isReadonly()">
                    <i class="glyphicon glyphicon-eye-close" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["DisplayCurrentVersion"]
                </button>
            </div>
        </div>
    </div>

    <div class="alert alert-info gn-defaultContentTopMargin" style="display: none" data-bind="visible: compareVersionId">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 gn-kirjaAlertTextCol">
                <strong>@Localizer["CompareVersionNumber"]<span data-bind="text: compareVersionNumber"></span>: </strong> <ins>@Localizer["AddedInCurrentVersion"]</ins> <del>@Localizer["RemovedInCurrentVersion"]</del>
                <div data-bind="visible: compareVersionName() != currentPageName()" class="gn-defaultContentTopMargin">
                    @Localizer["CompareName"] <span data-bind="text: compareVersionName"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5 gn-kirjaAlertButtonCol">
                <button type="button" class="btn btn-primary" data-bind="click: exitCompareMode, disable: isLoading() || isReadonly()">
                    <i class="glyphicon glyphicon-transfer" data-bind="visible: !isLoading()"></i><i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i> @Localizer["ExitCompare"]
                </button>
            </div>
        </div>
    </div>

    <div data-bind="if: !isEditMode()">
        <div data-bind="html: pageContentTransformed, childLinkClick: pushKirjaPageState" class="gn-kirjaPageContent gn-kirjaPageContentFormats">
        </div>
    </div>
    <div data-bind="if: isEditMode, visible: isEditMode" style="display: none">
        <div data-bind="richText: pageContent, richTextAddditionalButtons: generateRichTextButtons, richTextImageUploadUrl: '/api/KirjaApi/ImageUpload?imageFile={filename}', richTextImageUploadSuccess: imageUploaded, richTextImageUploadStarted: uploadStart, richTextAddditionalImageUploadError: uploadError, richTextAfterImageInserted: save" class="gn-kirjaPageRichTextEditor gn-kirjaPageContentFormats" tabindex="2">
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <environment include="Development">
        <script src="~/lib/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
        <script src="~/lib/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
        <script src="~/lib/bootstrap-wysiwyg/locale/bootstrap-wysiwyg.@(Localizer["RichTextLocale"]).js"></script>

        <script src="~/js/Kirja/page.viewmodel.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap-wysiwyg/bootstrap-wysiwyg.min.js"></script>
        <script src="~/lib/bootstrap-wysiwyg/locale/bootstrap-wysiwyg.@(Localizer["RichTextLocale"]).min.js"></script>

        <script src="~/js/Kirja/page.viewmodel.min.js" asp-append-version="true"></script>
    </environment>
    
    <script src="~/lib/htmldiff/htmldiff.min.js"></script>
    <script src="~/lib/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/js/Localization/dropzone.locales.@(Localizer["DropzoneLocale"]).js"></script>

    <script type="text/javascript">
        Dropzone.autoDiscover = false;

        GoNorth.Kirja.Page.toolbarButtonInsertTableOfContentTitle = "@Localizer["InsertTableOfContent"]";
        GoNorth.Kirja.Page.toolbarButtonInsertKirjaLinkTitle = "@Localizer["InsertKirjaLink"]";
        GoNorth.Kirja.Page.toolbarButtonInsertAikaQuestLinkTitle = "@Localizer["InsertAikaQuestLink"]";
        GoNorth.Kirja.Page.toolbarButtonInsertKortistoNpcLinkTitle = "@Localizer["InsertKortistoNpcLink"]";
        GoNorth.Kirja.Page.toolbarButtonInsertStyrItemLinkTitle = "@Localizer["InsertStyrItemLink"]";
        GoNorth.Kirja.Page.toolbarButtonInsertEvneSkillLinkTitle = "@Localizer["InsertEvneSkillLink"]";
        
        GoNorth.Kirja.Page.kirjaMapMarkerCountTooltip = "@Localizer["MarkedInMapNTimes"]";
        
        GoNorth.Kirja.Page.Npc = "@Localizer["Npc"]";
        GoNorth.Kirja.Page.Item = "@Localizer["Item"]";
        GoNorth.Kirja.Page.Skill = "@Localizer["Skill"]";
        GoNorth.Kirja.Page.Quest = "@Localizer["Quest"]";
        GoNorth.Kirja.Page.KirjaPage = "@Localizer["KirjaPage"]";

        GoNorth.Kirja.Page.tableOfContent = "@Localizer["TableOfContent"]";
        
        @if(User.IsInRole(RoleNames.Aika))
        {
            <text>
            GoNorth.Kirja.Page.hasAikaRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kirja.Page.hasAikaRights = false;
            </text>
        }

        @if(User.IsInRole(RoleNames.Kortisto))
        {
            <text>
            GoNorth.Kirja.Page.hasKortistoRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kirja.Page.hasKortistoRights = false;
            </text>
        }

        @if(User.IsInRole(RoleNames.Tale))
        {
            <text>
            GoNorth.Kirja.Page.hasTaleRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kirja.Page.hasTaleRights = false;
            </text>
        }

        @if(User.IsInRole(RoleNames.Styr))
        {
            <text>
            GoNorth.Kirja.Page.hasStyrRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kirja.Page.hasStyrRights = false;
            </text>
        }

        @if(User.IsInRole(RoleNames.Evne))
        {
            <text>
            GoNorth.Kirja.Page.hasEvneRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kirja.Page.hasEvneRights = false;
            </text>
        }

        @if(User.IsInRole(RoleNames.Karta))
        {
            <text>
            GoNorth.Kirja.Page.hasKartaRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kirja.Page.hasKartaRights = false;
            </text>
        }

        @if(User.IsInRole(RoleNames.ExportObjects))
        {
            <text>
            GoNorth.Kirja.Page.hasExportObjectsRights = true;
            </text>
        }
        else
        {
            <text>
            GoNorth.Kirja.Page.hasExportObjectsRights = false;
            </text>
        }

        jQuery(document).ready(function() {
            ko.applyBindings(new GoNorth.Kirja.Page.ViewModel(), jQuery("#gn-kirjaPageContainer")[0]);
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/lib/dropzone/dist/min/dropzone.min.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-wysiwyg/bootstrap-wysiwyg.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap-wysiwyg/bootstrap-wysiwyg.min.css" />
    </environment>

    <style>
        gn-kirjaTableOfContent::after {
            content: "@Localizer["TableOfContent"]"
        }
    </style>
}