@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!-- Delete Field Dialog -->
<div class="modal fade" role="dialog" data-bind="modal: showConfirmFieldDeleteDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer["AreYouSure"]</h4>
            </div>
            <div class="modal-body">
                <p>@Localizer["AreYouSureYouWantToDeleteTheField"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: deleteField">@Localizer["Yes"]</button>
                <button type="button" class="btn btn-default" data-bind="click: closeConfirmFieldDeleteDialog">@Localizer["No"]</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Field Dialog -->
<div class="modal fade" role="dialog" data-bind="modal: showFieldCreateEditDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span data-bind="if: isEditingField">@Localizer["EditField"]</span><span data-bind="if: !isEditingField()">@Localizer["AddField"]</span></h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <form id="gn-fieldCreateEditForm">
                    <div class="form-group">
                        <label for="gn-fieldName">@Localizer["Name"]</label>
                        <input type="text" class="form-control" id="gn-fieldName" placeholder="@Localizer["Name"]" name="fieldName" data-bind="value: createEditFieldName, enterPressed: saveField" required/>
                    </div>
                    <div class="form-group" data-bind="visible: createEditFieldHasAdditionalConfiguration">
                        <label for="gn-fieldAdditionalConfiguration" data-bind="text: createEditFieldAdditionalConfigurationLabel"></label>
                        <textarea class="form-control gn-nonResizeable" id="gn-fieldAdditionalConfiguration" name="fieldAdditionalConfiguration" data-bind="value: createEditFieldAdditionalConfiguration, attr: { placeholder: createEditFieldAdditionalConfigurationLabel, title: createEditFieldAdditionalConfigurationDisabled() ? '@Localizer["ConfigCanOnlyBeEditedInTemplate"]' : '' }, disable: createEditFieldAdditionalConfigurationDisabled"></textarea>
                    </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: saveField">@Localizer["Save"]</button>
                <button type="button" class="btn btn-default" data-bind="click: cancelFieldDialog">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<!-- Field Script Setting Dialog -->
<div class="modal fade" role="dialog" data-bind="modal: showFieldScriptSettingsDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Localizer["FieldScriptSetting"]</h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="gn-fieldAdditionalScriptNames">@Localizer["AdditionalScriptNames"]</label>
                    <input type="text" class="form-control" id="gn-fieldAdditionalScriptNames" placeholder="@Localizer["AdditionalScriptNames"]" name="fieldAdditionalScriptNames" data-bind="value: additionalFieldScriptNames, enterPressed: function() { $root.saveFieldScriptSettings(); }"/>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" data-bind="checked: dontExportFieldToScript"/>@Localizer["DontExportToScript"]</label>
                </div>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: saveFieldScriptSettings">@Localizer["Save"]</button>
                <button type="button" class="btn btn-default" data-bind="click: closeFieldScriptSettingsDialog">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>