@using GoNorth.Models.FlexFieldDatabaseModels

@model ObjectFormRelatedObjectsViewModel

@if(User.IsInRole(RoleNames.Aika))
{
    <h4>@Model.Localizer["ReferencedInAikaQuests"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingReferencedInQuests"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Model.Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingReferencedInQuests"></i></h4>
    <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: referencedInQuests">
        <li>
            <a class="gn-clickable" data-bind="text: objectName, href: function(q) { return $root.buildAikaQuestUrl(q); }" target="_blank"></a>
            <span class="gn-detaildReferenceContainer">
                <span style="display: none" data-bind="visible: detailedReferences && detailedReferences.length > 1, click: function(r) { $root.setExtendedReferenceCallout(r); }, text: detailedReferences.length" title="@Model.Localizer["ClickHereForDetailedReferences"]" class="gn-detailedReferenceCount badge">
                </span>
                <div style="display: none" class="gn-detaildReferenceCallout" data-bind="visible: $data == $root.extendedReferenceCallout()">
                    <span title="@Model.Localizer["ClickHereToCloseDetailedReferences"]" class="gn-detaildReferenceCalloutClose" data-bind="click: function() { $root.setExtendedReferenceCallout(null); }"><a><i class="glyphicon glyphicon-remove"></i></a></span>
                    <!-- ko foreach: detailedReferences -->
                    <div><a data-bind="text: objectName, href: function(q) { return $root.buildAikaQuestUrl($parent, q); }" target="_blank"></a></div>
                    <!-- /ko -->
                </div>
            </span>
        </li>
    </ul>
}

@if(User.IsInRole(RoleNames.Kirja))
{
    <h4>@Model.Localizer["MentionedInKirjaPages"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMentionedInKirjaPages"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Model.Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingMentionedInKirjaPages"></i></h4>
    <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: mentionedInKirjaPages">
        <li>
            <a class="gn-clickable" data-bind="text: name, href: $root.buildKirjaPageUrl" target="_blank"></a>
        </li>
    </ul>
}

@if(User.IsInRole(RoleNames.Karta) && !Model.HideKarta)
{
    <h4>@Model.Localizer["MarkedInKartaMaps"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingMarkedInKartaMaps"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Model.Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingMarkedInKartaMaps"></i></h4>
    <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: markedInKartaMaps">
        <li>
            <a class="gn-clickable" data-bind="text: name, href: $root.buildKartaMapUrl" target="_blank"></a>
            <span data-bind="visible: markerIds.length > 1, attr: { title: tooltip }" style="display: none"> (<span data-bind="text: markerIds.length"></span>)</span>
        </li>
    </ul>
}

@if(User.IsInRole(RoleNames.Tale))
{
    <h4>@Model.Localizer["ReferencedInTaleDialogs"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingReferencedInTaleDialogs"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Model.Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingReferencedInTaleDialogs"></i></h4>
    <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: referencedInTaleDialogs">
        <li>
            <a class="gn-clickable" data-bind="text: objectName, href: function(r) { return $root.buildTaleDialogUrl(r); }" target="_blank"></a>
            <span class="gn-detaildReferenceContainer">
                <span style="display: none" data-bind="visible: detailedReferences && detailedReferences.length > 1, click: function(r) { $root.setExtendedReferenceCallout(r); }, text: detailedReferences.length" title="@Model.Localizer["ClickHereForDetailedReferences"]" class="gn-detailedReferenceCount badge">
                </span>
                <div style="display: none" class="gn-detaildReferenceCallout" data-bind="visible: $data == $root.extendedReferenceCallout()">
                    <span title="@Model.Localizer["ClickHereToCloseDetailedReferences"]" class="gn-detaildReferenceCalloutClose" data-bind="click: function() { $root.setExtendedReferenceCallout(null); }"><a><i class="glyphicon glyphicon-remove"></i></a></span>
                    <!-- ko foreach: detailedReferences -->
                    <div><a data-bind="text: objectName, href: function(r) { return $root.buildTaleDialogUrl($parent, r); }" target="_blank"></a></div>
                    <!-- /ko -->
                </div>
            </span>
        </li>
    </ul>
}

@if(User.IsInRole(RoleNames.Kortisto))
{
    <h4>@Model.Localizer["ReferencedInDailyRoutines"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingReferencedInDailyRoutines"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Model.Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingReferencedInDailyRoutines"></i></h4>
    <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: referencedInDailyRoutines">
        <li>
            <a class="gn-clickable" data-bind="text: name, href: $root.buildDailyRoutineNpcUrl" target="_blank"></a>
        </li>
    </ul>
}

@if(User.IsInRole(RoleNames.Evne))
{
    <h4>@Model.Localizer["ReferencedInEvneSkills"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingReferencedInEvneSkills"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Model.Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingReferencedInEvneSkills"></i></h4>
    <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: referencedInEvneSkills">
        <li>
            <a class="gn-clickable" data-bind="text: name, href: $root.buildEvneSkillUrl" target="_blank"></a>
        </li>
    </ul>
}

@if(User.IsInRole(RoleNames.ExportObjects))
{
    <h4>@Model.Localizer["ReferencedInExportSnippets"] <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: loadingReferencedInExportSnippets"></i><i class="glyphicon glyphicon-warning-sign text-danger" title="@Model.Localizer["ErrorOccured"]" style="display: none" data-bind="visible: errorLoadingReferencedInExportSnippets"></i></h4>
    <ul class="gn-flexFieldObjectFormRelatedList" data-bind="foreach: referencedInExportSnippets">
        <li>
            <a class="gn-clickable" data-bind="text: $root.buildUsedExportSnippetName($data), href: $root.buildUsedExportSnippetUrl" target="_blank"></a>
        </li>
    </ul>
}