@using GoNorth.Models.FlexFieldDatabaseModels

@model OverviewViewModel

<!-- Delete Folder Dialog -->
<div class="modal fade" role="dialog" data-bind="modal: showConfirmDeleteFolderDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Localizer["AreYouSure"]</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display: none" data-bind="visible: deleteFolderError">
                    <strong>@Model.Localizer["Error"]</strong> <span data-bind="text: deleteFolderError"></span>
                </div>
                <p>@Model.Localizer["AreYouSureYouWantToDeleteTheFolder"]</p>
                <p>@Model.Localizer["OnlyEmptyFoldersCanBeDeleted"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bind="click: deleteFolder, disable: dialogLoading">
                    <span data-bind="visible: !dialogLoading()">@Model.Localizer["Yes"]</span>
                    <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: dialogLoading"></i>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: closeConfirmDeleteFolderDialog, disable: dialogLoading">@Model.Localizer["No"]</button>
            </div>
        </div>
    </div>
</div>

<!-- Create/Edit Folder Dialog -->
<div class="modal fade" role="dialog" data-bind="modal: showFolderCreateEditDialog" id="gn-flexFieldFolderCreateEditDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span data-bind="if: editFolderId">@Model.Localizer["EditCategory"]</span><span data-bind="if: !editFolderId()">@Model.Localizer["CreateCategory"]</span></h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                <form id="gn-folderCreateEditForm">
                    <div class="alert alert-danger" style="display: none" data-bind="visible: createEditFolderError">
                        <strong>@Model.Localizer["Error"]</strong> <span data-bind="text: createEditFolderError"></span>
                    </div>
                    <div class="form-group">
                        <label for="gn-folderDisplayName">@Model.Localizer["Name"]</label>
                        <input type="text" class="form-control" id="gn-folderDisplayName" placeholder="@Model.Localizer["Name"]" name="folderDisplayName" data-bind="value: createEditFolderName, enterPressed: saveFolder" required/>
                        <label for="gn-folderDescription">@Model.Localizer["Description"]</label>
                        <textarea class="form-control gn-nonResizeable" id="gn-folderDescription" placeholder="@Model.Localizer["Description"]" name="folderDescription" data-bind="value: createEditFolderDescription"></textarea>
                        <label for="gn-folderImage">@Model.Localizer["Image"]</label>
                        <div id="gn-folderImage" data-bind="dropzone: createEditFolderUrl, dropzoneAutoProcess: false, dropzoneAcceptedFiles: 'image/*', dropzoneMaxFiles: 1, dropzoneHoverClass: 'gn-dropzoneFileHover', dropzoneAddedFile: folderImageAdded, dropzoneSuccess: folderSuccess, dropzoneError: folderError, dropzoneReceiveTriggerFunctions: receiveDropzoneTriggers" class="gn-flexFieldOverviewFolderDropzone" title="@Model.Localizer["DropFolderImageHere"]">
                        </div>
                        <div data-bind="visible: !hasFolderImageInQueue()" class="gn-flexFieldFolderUploadIndicatorImage">
                            <i class="glyphicon glyphicon-picture"></i>
                        </div>
                    </div>
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: saveFolder, disable: dialogLoading">
                    <span data-bind="visible: !dialogLoading()">@Model.Localizer["Save"]</span>
                    <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: dialogLoading"></i>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: closeCreateEditFolderDialog, disable: dialogLoading" id="gn-flexFieldFolderCreateEditDialogCancel">@Model.Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>

<!-- Move object to folder dialog -->
<!-- ko with: flexFieldFolderTreeViewDialog -->
    <div class="modal fade" role="dialog" data-bind="modal: isOpen" id="gn-flexFieldMoveObjectDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Model.Localizer["SelectTargetCategory"]</h4>
                </div>
                
                <!-- Modal Body -->
                <div class="modal-body">
                    <form id="gn-folderCreateEditForm">
                        <div class="alert alert-danger" style="display: none" data-bind="visible: moveObjectError">
                            <strong>@Model.Localizer["Error"]</strong> @Model.Localizer["ErrorOccured"]
                        </div>
                        <div class="form-group gn-flexFieldMoveObjectDialogContent">
                            <div class="gn-clickable gn-flexFieldMoveObjectDialogListRootLevel gn-flexFieldMoveObjectDialogListEntry" data-bind="css: { 'gn-flexFieldMoveObjectDialogListActive': !selectedFolderId() && hasSelectedFolder() }, click: function(folder) { selectFolder({ id: '' }); }">@Model.Localizer["RootLevel"]</div>
                            <ul class="gn-flexFieldMoveObjectDialogList" data-bind="template: { name: 'gn-flexFieldMoveObjectDialogFolderTemplate', foreach: rootFolders }">
                            </ul>
                        </div>
                    </form>
                </div>
                
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bind="click: moveObject, disable: dialogLoading() || !hasSelectedFolder()">
                        <span data-bind="visible: !dialogLoading()">@Model.Localizer["Move"]</span>
                        <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: dialogLoading"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: cancelDialog, disable: dialogLoading" id="gn-flexFieldFolderMoveObjectDialogCancel">@Model.Localizer["Cancel"]</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="gn-flexFieldMoveObjectDialogFolderTemplate">
        <li class="gn-flexFieldMoveObjectDialogListEntry" data-bind="css: { 'gn-flexFieldMoveObjectDialogListActive': $data.id == $parents[$parents.length - 2].selectedFolderId() && $parents[$parents.length - 2].hasSelectedFolder() }">
            <span data-bind="click: function(folder) { $parents[$parents.length - 2].toggleFolder(folder); }" class="gn-flexFieldMoveObjectDialogListExpandIndicator"><i class="glyphicon glyphicon-triangle-right gn-clickable" data-bind="visible: !isExpanded() && (!hasLoadedChildren() || children().length > 0) && ($parents[$parents.length - 2].folderToMoveId() != id)"></i><i class="glyphicon glyphicon-triangle-bottom gn-clickable" data-bind="visible: isExpanded() && (!hasLoadedChildren() || children().length > 0) && ($parents[$parents.length - 2].folderToMoveId() != id)"></i></span>
            <span class="gn-clickable" data-bind="text: name, click: function(folder) { $parents[$parents.length - 2].selectFolder(folder); }, css: { 'gn-clickable': $parents[$parents.length - 2].folderToMoveId() != id }"></span>
            <span data-bind="visible: $parents[$parents.length - 2].folderToMoveId() == id" class="gn-flexFieldMoveObjectDialogListCurrentFolderIndicator">@Model.Localizer["ThisIsFolderBeingMoved"]</span>
            <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: isLoading"></i>
        </li>
        <!-- ko if: $data.children && $data.children().length -->
        <li>
            <ul class="gn-flexFieldMoveObjectDialogList" data-bind="template: { name: 'gn-flexFieldMoveObjectDialogFolderTemplate', foreach: $data.children }, visible: isExpanded">
            </ul>
        </li>
        <!-- /ko -->
    </script>
<!-- /ko -->


<!-- Overview -->
<div class="alert alert-danger" style="display: none" data-bind="visible: errorOccured">
    <strong>@Model.Localizer["Error"]</strong> @Model.Localizer["ErrorOccured"]
</div>

<div class="dropdown gn-inlineDropdown" id="gn-flexFieldOverviewCreateObjectButton">
    <button class="btn btn-primary dropdown-toggle gn-commandWidgetTopMargin" type="button" id="gn-createFlexFieldObjectButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="glyphicon glyphicon-plus"></i> @Model.Localizer["CreateFlexFieldObject"] <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="gn-createFlexFieldObjectButton" id="gn-flexFieldOverviewCreateObjectDropdown">
        <!-- ko foreach: availableTemplates -->
            <li><a class="gn-clickable" data-bind="click: function(template) { $root.openNewFlexFieldObjectForm(template); }, text: name"></a></li>
        <!-- /ko -->
        @if(Model.HasTemplatePermissions)
        {
            <li class="divider"></li>
            <li><a asp-area="" asp-controller="@Model.ControllerName" asp-action="ManageTemplates">@Model.Localizer["ManageTemplates"]</a></li>
        }
    </ul>
</div>

<button class="btn btn-primary gn-commandWidgetTopMargin" type="button" data-bind="click: openCreateFolderDialog" id="gn-flexFieldCreateFolderButton"><i class="glyphicon glyphicon-plus"></i> @Model.Localizer["CreateCategory"]</button>

<button class="btn btn-default gn-commandWidgetTopMargin" type="button" style="display: none" data-bind="click: navigateLevelBack, visible: parentFolderId() || currentFolderId()"><i class="glyphicon glyphicon-level-up"></i> @Model.Localizer["LevelBack"]</button>

<div class="gn-flexFieldOverviewTileDropToParent" style="display: none" data-bind="visible: isDraggingObject() && currentFolderId(), droppableElement: function(draggable, leftPos, topPos, objectToMove) { $root.moveObjectToCategory(objectToMove, parentFolderId()); }, droppableHoverClass: 'gn-flexFieldOverviewTileObjectHovering'">
    <i class="glyphicon glyphicon-level-up" title="@Model.Localizer["DropHereToMoveToParent"]"></i>
</div>

<div class="input-group gn-commandWidgetTopMargin">
    <input type="text" class="form-control" placeholder="@Model.Localizer["Search"]" data-bind="value: searchPattern, enterPressed: searchFlexFieldObjects"/>
    <span class="input-group-addon gn-clickable" data-bind="click: searchFlexFieldObjects" title="@Model.Localizer["Search"]">
        <i class="glyphicon glyphicon-search"></i>
    </span>
</div>

<div class="gn-defaultContentTopMargin" data-bind="foreach: displayObjectRows">
    <div class="gn-flexFieldObjectRow" data-bind="foreach: $data, visible: true" style="display: none">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 gn-flexFieldOverviewTileContainer">
            <a data-bind="href: tileUrl, isPushStateHref: isFolder">
                <div class="gn-flexFieldOverviewTile" data-bind="draggableElement: 'original', draggableObject: $data, draggableRevert: true, draggableRevertDuration: 100, draggableZIndex: 10000, draggableDistance: 40, draggableOnStart: function(obj, event, ui) { $root.onStartDragObject(ui); }, draggableOnStop: function(obj, event, ui) { $root.onStopDragObject(ui); },
                                                                 droppableElement: function(draggable, leftPos, topPos, objectToMove) { $root.moveObjectToCategory(objectToMove, this.id); }, droppableAccept: isFolder ? '.gn-flexFieldOverviewTile' : 'acceptNothing',
                                                                 droppableHoverClass: 'gn-flexFieldOverviewTileObjectHovering',
                                                                 template: { name: template, data: $data }"></div>
            </a>
        </div>
    </div>
</div>

<div class="container row col-xs-12 col-sm-12 col-md-12 col-lg-12 gn-buttonContainer">
    <button class="btn btn-default" data-bind="enable: currentPage() > 0 && !isLoading(), click: prevPage" title="@Model.Localizer["PreviousPage"]">
        <i class="glyphicon glyphicon-chevron-left" data-bind="visible: !prevLoading()"></i>
        <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: prevLoading"></i>
    </button>
    <button class="btn btn-default" data-bind="enable: hasMore() && !isLoading(), click: nextPage" title="@Model.Localizer["NextPage"]" id="gn-flexFieldOverviewNextPageButton">
        <i class="glyphicon glyphicon-chevron-right" data-bind="visible: !nextLoading()"></i>
        <i class="glyphicon glyphicon-refresh spinning" style="display: none" data-bind="visible: nextLoading"></i>
    </button>
</div>

<script type="text/html" id="gn-folderTemplate">
    <div class="gn-flexFieldOverviewObjectButtons">
        <a data-bind="visible: imageFile, attr: { href: '/api/@Model.ApiControllerName/FlexFieldObjectImage?imageFile=' + imageFile }" target="_blank" title="@Model.Localizer["OpenImageInFullSize"]"><i class="glyphicon glyphicon-eye-open"></i></a>
        <a class="gn-clickable" data-bind="click: function(folder) { $root.openEditFolderDialog(folder); }, clickBubble: false" title="@Model.Localizer["EditCategory"]"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="gn-clickable" data-bind="click: function(folder) { $root.openMoveObjectToCategoryDialog(folder); }, clickBubble: false" title="@Model.Localizer["MoveToCategory"]"><i class="glyphicon glyphicon-share"></i></a>
        <a class="gn-clickable" data-bind="click: function(folder) { $root.openDeleteFolderDialog(folder); }, clickBubble: false" title="@Model.Localizer["DeleteCategory"]"><i class="glyphicon glyphicon-trash"></i></a>
    </div>
    <!-- ko if: !imageFile -->
    <div class="gn-flexFieldOverviewTileIcon" data-bind="attr: { title: description }">
        <i class="glyphicon glyphicon-folder-open"></i>
    </div>
    <!-- /ko -->
    <!-- ko if: imageFile -->
    <div class="gn-flexFieldOverviewTileIcon gn-flexFieldOverviewTileImageContainer" data-bind="attr: { title: description }">
        <img class="gn-flexFieldOverviewObjectImage" data-bind="attr: { src: '/api/@Model.ApiControllerName/FlexFieldObjectImage?imageFile=' + thumbnailImage }">
    </div>
    <!-- /ko -->
    <div class="gn-flexFieldOverviewTileName" data-bind="text: name, attr: { title: name }">
    </div>
</script>

<script type="text/html" id="gn-flexFieldObjectTemplate">
    <div class="gn-flexFieldOverviewObjectButtons">
        <a class="gn-clickable" data-bind="click: function(object) { $root.openMoveObjectToCategoryDialog(object); }, clickBubble: false" title="@Model.Localizer["MoveToCategory"]"><i class="glyphicon glyphicon-share"></i></a>
    </div>
    <!-- ko if: !imageFile -->
    <div class="gn-flexFieldOverviewTileIcon">
        <i class="glyphicon @Model.ObjectIcon"></i>
    </div>
    <!-- /ko -->
    <!-- ko if: imageFile -->
    <div class="gn-flexFieldOverviewTileIcon gn-flexFieldOverviewTileImageContainer">
        <img class="gn-flexFieldOverviewObjectImage" data-bind="attr: { src: '/api/@Model.ApiControllerName/FlexFieldObjectImage?imageFile=' + thumbnailImage }">
    </div>
    <!-- /ko -->
    <div class="gn-flexFieldOverviewTileName" data-bind="text: name, attr: { title: name }">
    </div>
</script>